.chart-box{
    background-color: rgb(213, 153, 232);
    border: 2px solid rgb(164, 163, 163);
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* flex: auto; */
    justify-content: space-evenly;  
}
@media screen and (max-width:800px) {
    .chart-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        
        padding: 1rem 1rem;
        padding-bottom: 0.25rem;
        border-radius: 1rem;
        height: 250px;
    }
    
}